<footer class="container">
  <div class="row">

    <div class="col">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="/">Startseite</a>
        </li>
        <li class="list-group-item">
          <a href="/contact">Kontakt</a>
        </li>
      </ul>
    </div>
    <div class="col">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <a href="/">Impressum</a>
        </li>
        <li class="list-group-item">
          <a href="/">Nutzungserklärung</a>
        </li>
      </ul>
    </div>
  </div>
</footer>