<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/layout.css" />
    <title>Autohaus ALFA - {{ title }}</title>
  </head>
  <body>
    {{> _header}}
    <section class="container">
      <div>
        {{{ content }}}
      </div>
    </section>
    {{> _footer}}
    <script src="/js/libs/bootstrap.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
