--- 
title: "Start" 
layout: "base.hbs" 
---
<div class="header-image">
  <div class="title">
    <h1>
      Autohaus ALFA
    </h1>
    <p>
      Alle Marken. Jedes Problem.<br />
      <a class="btn btn-primary mt-2" href="tel:03601873070">Anrufen</a>
    </p>
  </div>
</div>
<div class="container">

  <div class="row my-4">
    <div class="col-md-6">
      <dl>
        <h4>
          Anschrift
        </h4>
        <dd>
          Ammerstraße 3<br />
          99734 Mühlhausen<br />
        </dd>
        <h4>
          Kontakt
        </h4>
        <dd>
          <table>
            <tr>
              <td>
                Tel.:
              </td>
              <td>
                <a href="tel:03601873070">03601 / 873070
                  <i class="fa-solid fa-arrow-up-right-from-square"></i></a><br />
              </td>
            </tr>
            <tr>
              <td>
                Email:
              </td>
              <td>
                <a href="mailto:meisterhaft@ah-alfa.de">meisterhaft@ah-alfa.de
                  <i class="fa-solid fa-paper-plane"></i>
                </a>
              </td>
            </tr>
          </table>
        </dd>
      </dl>
    </div>
    <div class="col-md-6">

      <h4>Öffnungszeiten</h4>
      <table>

        <tr>
          <td>
            Mo.:
          </td>
          <td>
            07:00 &ndash; 18:00 Uhr
          </td>
        </tr>
        <tr>
          <td>
            Di.:
          </td>
          <td>
            07:00 &ndash; 18:00 Uhr
          </td>
        </tr>
        <tr>
          <td>
            Mi.:
          </td>
          <td>
            07:00 &ndash; 18:00 Uhr
          </td>
        </tr>
        <tr>
          <td>
            Do.:
          </td>
          <td>
            07:00 &ndash; 18:00 Uhr
          </td>
        </tr>
        <tr>
          <td>
            Fr.:
          </td>
          <td>
            07:00 &ndash; 18:00 Uhr
          </td>
        </tr>
        <tr>
          <td>
            Sa.:
          </td>
          <td>
            nach Absprache
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2499.326460439963!2d10.453461115336436!3d51.213061479587786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a492b27ae8c6ab%3A0xfa59d5d529b601d5!2sAutohaus%20Alfa!5e0!3m2!1sde!2sde!4v1646205385667!5m2!1sde!2sde"
  width="100%"
  height="450"
  style="border:0;"
  allowfullscreen=""
  loading="lazy"
></iframe>